nav {
  display: block;
  background-color: background-color: #747474;
  height: 89px;
  overflow: visible;
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif
}
